<!-- File name: index.ejs
     Author's name: Hae Yeon Kang (Lucy)
     web site name: Hae Yeon's Portfolio Website
     URL: haeyeonkang.azurewebsites.net
     file description: This is the main page of the website.
-->

<% include ../partials/header %>

<body class="full">
    <header id="top" class="header">
        <div class="col-md-6 col-md-offset-3 panel panel-default">
            <div class="text-vertical-center">
                <img src="images/sami.jpg" alt="HAE YEON KANG" width="300" />
                <p>
                    <br/>
                </p>
                <h4 style="font-size: 15pt; font-family: Courier New;">
                    Hello there! 
                    <br/>I'm Mohammad Ittehad Rahman Sami, a Software Engineer, <br/>Welcome to my portfolio website!
                </h4>
                <br/>
                <!-- <a href="/about" class="btn btn-dark btn-lg">Click Here!</a> -->
            </div>
            <div class="container">
                <div class="page-header">
                    <h1> About Sami </h1>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <br/>
                        <p>I am a self-motivated passionate Software Engineer, Gamer and sport enthusiast. My coding manifesto
                            is to write code readable and organised, reduce code redundency and increase efficiency, test and
                            investigate every scenario possible.</p>
                        <p>Currently looking for an opportunity to be a part of a development team.</p>
                        <br />
                        <!-- <small><i>*for more information about co-op program and its benefit, please <a href="employer_guide.pdf" download="Employer's Guide">click here</a> to download 'Employer's Guide' document.</i></small> -->
                    </div>
                    <!-- <div class="col-md-3">
                        <img src="../images/lucy.png" alt="Lucy" />
                    </div> -->
                </div>
                
                <!-- qualifications section -->
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="page-header">Qualifications</h2>
                    </div>
                    <br>
                    <br>
                    <div class="col-lg-4 col-sm-6 text-center">
                        <img class="img-center" src="../images/responsive_web_development.png" height="200" alt="Responsive Web Design">
                        <h3>Responsive Design<br/><small>CSS, Bootstrap</small></h3>
                        <p>Website that is responsive to the scale of any devices.</p>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center">
                        <img class="img-center" src="../images/cms.png" height="200" alt="Contents Management System">
                        <h3>CMS<br/><small>PHP, MySQL</small></h3>
                        <p>Contents Management System that gives flexibility to manage website contents by yourself.</p>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center">
                        <!-- <img class="img-center" src="../images/mean.png" height="200" alt="MEAN stack">
                        <h3>MEAN stack<br/><small>MongoDB, Express.js, Angular.js, and Node.js</small></h3>
                        <p>Building a Dynamic Web Application</p> -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 text-center">
                        <img class="img-center" src="../images/java-logo.png" height="200" alt="Java">
                        <h3>OOP<br/><small>Java</small></h3>
                        <p>Object-Oriented Programming</p>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center">
                        <img class="img-center" src="../images/Octocat.png" height="200" alt="GitHub">
                        <h3>Version Control<br/><small>GitHub</small> </h3>
                        <p>Continuous version control to manage projects timely manner.</p>
                    </div>
                    <!-- in case I am going to add more..
                    <div class="col-lg-4 col-sm-6 text-center">
                        <img class="img-center" src="" height="200" alt="">
                        <h3>Some skill<br/><small>related info</small></h3>
                        <p>related info</p>
                    </div>
                    -->
                </div>
                </div>
        </div>
    </header>
    
